header	{
	text-align: center;
	margin-top:2%;
}

section {
	border: 2px dotted black;
	padding: 2%;
	background-color: #fc9;
	width: 50%;
	margin: 2% auto;
}

.title {
	font-style: italic;
	text-align: center;
}
